@media screen and (max-width: 599px) {
    body {
        font-size: 4em;
    }
}

@media (min-width: 600px) and (max-width: 991px) {
    body {
        font-size: 3em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 2em;
    }
}

.btn {
    background-color: #fff240 !important;
}

h1 {
    text-align: center;
}
